body {
    background-image: url('../resources/filmPageBackground.jpeg');
    color: aqua;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-attachment: fixed;
}

h1 {
    margin: 0px;
}

a {
    color: aqua;
    font-size: 1em;
}

.filmContent {
    width: 40%;
    margin: 10px auto;
}

@media (max-width: 768px) {
    .filmContent {
        width: 75%;
    }
}

.filmContent-Img {
    width: 100%;
    margin: 0px;
    border-radius: 2em;
}

.filmContent p {
    margin: 0px;
    text-align: center;
    position: relative;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
}
