body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../resources/backgroundMain.jpg');
    background-size: 100%;
}

h1 {
    color: orange;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mainImg {
    border-radius: 50em;
    width: 40%;
}

.navigation {
    text-align: center;
    font-size: 1.5em;
}

#button-visibilityFilmPage {
    border-radius: 2em;
    border: 0px;
    background-color: darkorange;
    font-size: 1em;
    height: 3em;
}

#button-visibilityFilmPage:hover {
    background-color: orange;
}

#filmPageRef {
    color: orangered;
}

img {
    pointer-events: none;
}
